.follow-cursor-window {
  position: fixed;
  width: 120000px;
  height: 100px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 10px solid #000;
}
