.containerViewPlaces {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonContainerViewPlaces button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.buttonViewPlaces {
  width: 50%;
  padding: 5px;
  margin: 5px 0;
  border: 0px solid #ccc;
  border-radius: 15px;
  background-color: #fc7a00;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
